.advances h1 {
    color: rgba(118,0,116,1);
    font-size: 24px;
    border-bottom: 3px solid rgba(37,45,120,1);
}

.advances h3 {
    font-size: 20px;
    color: rgba(118,0,116,1);
}

.advances h5 {
    font-size: 16px;
}

.advances img {
    width: 16px;
    height: 16px;
    margin-right: 1%;
}

table tr td {
    padding: 1% 0%;
}