.header{
    position: absolute;
    width: 35%;
    top: 150px;
    left: 60%;
}

.header .container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header img{
    margin-right: 2%;
    height: 70px;
}

/* .header h2{
    font-size: 20px;
    word-spacing: 5px;
    color: rgba(118,0,116,1);
} */

.header h3{
    font-size: 20px;
    color: rgba(118,0,116,1);
}

/* .header h4{
    font-size: 16px;
} */

.header h5{
    font-size: 14px;
}

.header marquee {
    height: 40vh;
}

.header .container table img {
    height: 16px;
}

@media (max-width: 1200px) {
    .header{
        position: relative;
        width: 100%;
        top: 50px;
        left: 0;
        margin-bottom: 5%;
    }

    .header h2{
        font-size: 30px;
    }

    .header h5{
        font-size: 18px;
    }

    .header marquee {
        height: 100%;
    }
}

@media (max-width: 992px) {
    .header h2{
        word-spacing: 8px;
        font-size: 26px;
    }

    .header h5{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .header h2{
        word-spacing: 6px;
        font-size: 20px;
    }

    .header h5{
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .header h3{
        font-size: 16px;
    }

    .header img{
        width: 60px;
        height: 60px;
    }

    .header h2{
        word-spacing: 5px;
        font-size: 16px;
    }

    .header h5{
        font-size: 9px;
    }

    .header .container {
        padding-left: 5%;
    }

    .header .container table {
        width: 80%;
    }
}

@media (max-width: 420px) {
    .header h2{
        word-spacing: 5px;
        font-size: 14px;
    }

    .header h5{
        font-size: 10px;
    }

    .header .container {
        margin-left: 2px;
    }

    .header .container marquee table img {
        height: 12px;
    }

    .header .container marquee table a {
        font-size: 12px;
    }
}