.history h1 {
    color: rgba(118,0,116,1);
    font-size: 24px;
    border-bottom: 3px solid rgba(37,45,120,1);
}

table tr td {
    padding: 1% 0%;
}

.history li {
    list-style: none;
}

.history h4 {
    font-size: 16px;
}