.services-tab h1 {
    color: rgba(118,0,116,1);
    font-size: 24px;
    border-bottom: 3px solid rgba(37,45,120,1);
}

table tr td {
    padding: 1% 0%;
}

.services-tab li {
    list-style: none;
}

.services-tab img {
    width: 16px;
    height: 16px;
    margin-right: 1%;
}

.services-tab h3 {
    font-size: 20px;
    color: rgba(118,0,116,1);
}

.services-tab h4 {
    font-size: 16px;
}

.services-tab h5 {
    font-size: 14px;
}

.services-tab .table-heading {
    position: sticky;
    top: 100px;
}

.services-tab code {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
}



@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .services-tab h5 {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .services-tab h5 {
        font-size: 10px;
    }

    .services-tab .table-heading {
        top: 61px;
    }
}


@media (max-width: 400px) {
    .services-tab h5 {
        font-size: 8px;
    }
}